@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.spinner {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid currentColor;
  border-top: 3px solid transparent;
  animation: spin 0.7s linear infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}

.custom-shadow-03 {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.input-style {
  @apply px-3 py-2 border border-gray-300 rounded-lg outline-none font-semibold text-gray-700;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}
